
<div class="container">
	
	<div class="navbar">
		<div class="navbar-logo">
			<a href="/"><img src="http://yagostory.com/wp-content/uploads/2018/07/bitcoin-logo.png"></a>
		</div>

		<div class="navbar-right">
			<ul>
				<li><a href="#">Monde</a></li>
				<li><a href="#">France</a></li>
				<li><a href="#">Sharing is loving</a></li>
				<li id="avatarname"><a href="#">Sté</a></li>
				<li id="avatar"><img src="https://forum.xda-developers.com/customavatars/thumbs/avatar4113493_24.gif"></div>
			</ul>

		</div>
	</div>	

	<br>

	<h2>The dark site</h2>

	<div class="card">
	  <img src="https://pbs.twimg.com/profile_images/535154875059806208/FwaafAh1_400x400.png" alt="card">
	  <div class="cardcontainer">
	    <h4><strong>John Doe</strong></h4> 
	    <p>Architect & Engineer</p> 
	  </div>
	</div>

	<br><br>

	<div class="tabcontainer">

		<ul>
			<li><div class="btn-tab"><a href="#">lien</a></div></li>
			<li><div class="btn-tab"><a href="#">lien</a></div></li>
			<li><div class="btn-tab"><a href="#">lien</a></div></li>
		</ul>

	</div>

	<br><br>

    <div class="content">
        <div class="img-left"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/Dark_Side_of_the_Moon.png/220px-Dark_Side_of_the_Moon.png"></div>

        <div class="text-right">You never know when you enter the dark site. Are you ready for dolorem ipsum?</div>

    </div>

    <br><br>

    <footer>
      <ul>
        <li><a href=""><img src="http://aboveandbelow.info/wp-content/uploads/2014/12/twitter-favicon-white-blue-website-20x20.jpg" alt="touitteur"></a></li>
        <li><a href=""><img src="http://hudayivakfi.org/wp-content/uploads/2017/12/instagram.png" alt="insta"></a></li>
        <li><a href=""><img src="http://www.gymrat-fitness.com/wp-content/uploads/2014/04/1ed9facebook-social-icon.png" alt="facebook"></a></li>
      </ul>
    </footer>

</div>