
#avatar a {
	margin: 4px;
	padding: 4px;
	border-right: none;
}

#avatar a {
	margin: 4px;
	padding: 4px;
	border-right: none;
}

#avatar {
	margin: 4px;
	padding: 4px;
	text-align: center;
	line-height: 0px;
	border-right: none;
}

#avatar li {
	border-right: none;
}