
footer {
	background-color: #333;
	overflow: auto;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

footer li {
    float: left;
    text-align: center;
    line-height: 30px
}

footer li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

footer li a:hover:not(.active) {
    background-color: #111;
}

footer .active {
    background-color: #4CAF50;
}