
.tabcontainer {
	width: 10%;
	margin-left: auto;
	margin-right: auto;
}

.tabcontainer {
	background-color: #333;
	overflow: auto;
}

.tabcontainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.tabcontainer li {
    float: left;
    text-align: center;
    line-height: 30px
}

.tabcontainer li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.tabcontainer li a:hover:not(.active) {
    background-color: #111;
}

.tabcontainer .active {
    background-color: #4CAF50;
}